
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
body{
      background-color:aqua
}
h1{
    color:black  
    font-size: 60px
    text-align:center;
}
p{
     